table {
    border-collapse: collapse; 
    border: 2px solid #ffffff; 
    margin-bottom: 20px;
}

td {
    padding: 10px; 
    text-align: center; 
    border: 1.5px solid white; 
    background-color: #cae3f3;
    width: 60px;
}

tr td:first-child {
    width: 150px; 
    background-color: #93cceb;
    text-align: left;
    font-weight: bold;
    color: white;
}

tr:first-child td {
    background-color: #93cceb;
    font-weight: bold;
    color: white;
}

.company{
    width: 150px; 
    padding: 10px;
    background-color: #93cceb;
    text-align: left;
    font-weight: bold;
    color: white;
    float:left;
    border: .5px solid white; 
}
.cell{
    float: left; 
    padding: 10px; 
    text-align: center; 
    border: .5px solid white; 
    background-color: #cae3f3;
    width: 60px;
    
}

.row{
    clear: left; 
}

.Q{
    font-weight: bold;
    color: white;
}



