 @font-face {
    font-family: 'Maax';
    src: url('fonts/Maax.woff') format('woff');
    font-style: normal;
}

html, body {
    margin: 0; 
    padding: 0; 
    width: 100%; 
    overflow-x: hidden; 
}

body {
    font-family: 'Maax', sans-serif;
} 


.logo {
    height: 40px;
    width: 40px;

}

*, *::before, *::after {
    box-sizing: border-box;
}

.menu-section {
    padding: 25px 30px;
    width: 100%; 
    height: 110px;
    overflow-x: hidden;
    overflow-y: hidden;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.regular-menu {
    background: #FFFFFF;
    display: none;
    
}

.regular-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 17px;
    gap: 96px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.regular-menu ul li a {
    text-decoration: none;
}

.lang-locatizator {
    width: 75px;
    height: 34px;
    border-radius: 23.5px;
    border: 1px solid #000000;
    box-sizing: border-box;   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    display: none;
}

.home-bg-section  {
    background: 
    linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #FFFFFF 100%), 
    url(assets/img/home-bg.png);
    background-size: cover;
    background-position: center;
    width: 100%; 
    height: 480px;
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 30px;
}

.home-bg-section-logo img {
    width: 190px;
    height: 147.23px;
}

.menu-header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.logo {
    height: 40px;
    width: 40px;
    z-index: 1000;
}

.logo.active{
    filter: invert(1);
    z-index: 1001; 
}


.burger-icon.active .line-top {
    transform: rotate(45deg) translateY(9px);
}

.burger-icon.active .line-bottom {
    transform: rotate(-45deg) translateY(-9px);
}

.burger-menu {
    position: relative;
    padding-right: 10px;
    
}

.burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 15px; 
    cursor: pointer;
    position: relative;
    z-index: 1100;
}

.burger-icon .line {
    background-color: #000000;
    height: 2px;
    width: 35px;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger-icon.active .line {
    filter: invert(1);
}

.burger-icon.active .line-top {
    transform: rotate(45deg) translateY(9px);
}

.burger-icon.active .line-bottom {
    transform: rotate(-45deg) translateY(-9px);
}

.burger-icon .line-top,
.burger-icon .line-bottom {
    transition: transform 0.3s ease;
}

.menu-overlay {
    position: fixed;
    top: -100%; 
    left: 0;
    width: 100%;
    height: 90%;
    background-color: #000;
    color: #fff;
    transition: top 0.3s ease;
    z-index: 1000;
    
  
}

.menu-overlay.active {
    top: 0; 
}

.menu-header {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

.close-btn {
    font-size: 24px;
    cursor: pointer;
}

.menu-content {
    padding: 5px 30px;
}

.menu-content ul {
    list-style: none;
    padding: 0;
}

.menu-content li {
    font-size: 24px;
    margin-bottom: 20px;
    cursor: pointer;
}

.submenu {
    display: none;
    list-style: none;
    padding-left: 20px;
    margin: 10px 0;
}

.submenu.active {
    display: block;
}

.menu-content > ul > li {
    position: relative;
    cursor: pointer;
}

.menu-content > ul > li:hover .submenu {
    display: none;
}

.submenu {
    display: none;
    list-style: none;
    padding-left: 20px;
    margin: 10px 0;
}

.submenu.active {
    display: block;
}

.arrow {
    margin-left: 5px;
    font-size: 12px;
}

.menu-content > ul > li.active .submenu {
    display: block;
}

.language-selector {
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 20px;
}

.lang-option {
    cursor: pointer;
}

.lang-option.active {
    color: #0f0; 
}

@media (max-width: 1100px) {
    .burger-menu {
        display: flex;
    }

    #menu {
        display: none; 
    }
}

.content-wrapper {
    transition: filter 0.3s ease;
}

.content-wrapper.blurred {
    filter: blur(15px);
}

.content {
    padding: 0 30px 80px 30px;
    background-color: #32CD32;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-character {
    position: relative;
    top: -40px;
    display: none;
 }

.info {
    width: 100%;
    background-color: #5639FF;
    display: flex;
    margin-bottom: 50px;
    align-items: center;
}

.info-wrapper {
    width: 100%;
    background: #FEF332;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.info-text-wrapper {
    text-align: center;    
    background-color: aqua; 
    width: 100%;
    margin-bottom: 50px;
}

.info-headline-first-line, .info-headline-second-line {
    font-size: 34px;
    font-weight: 600;
}

.info-headline-second-line { 
    display: block;
    margin-bottom: 9px;
}

.info-text {
margin-bottom: 33px;
font-size: 18px;
}

.info-new-marker {
    display: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #FF4040;
    width: 60px;
    height: 30px;
    border-radius: 81px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
}

.info-text-wrapper button {
    width: 140px;
    height: 44px;
    border-radius: 23.5px;
    border: 2px solid black;
    font-size: 16px;
    font-family: 'Maax', sans-serif;
    font-weight: 600;

}

.info-text-wrapper button {
    transition: color 0.3s ease, background-color 0.3s ease;
}

.info-text-wrapper button:hover {
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.store {
    width: 100%;
    height: 260px;
    background: #000000;
    color: #ffffff;
    border-radius: 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-family: 'Maax', sans-serif;
}

.content-character-icon { 
    width: 100px;
    height: 100px;
    border-radius: 23px;
    background: url('assets/img/store-character-icon.png');
    background-size: cover;
    background-position: center;
    display: none;

}

.store-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.store-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.store-headline {
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}

.app-store-button {
    transition: filter 0.3s ease; /
}

.app-store-button:hover, .google-play-button:hover, .amazone-button:hover { 
    background-color: #000;
    border: 2px solid #fff; 
}

.app-store-button:hover .app-store-logo, .google-play-button:hover  .google-play-logo{ 
    filter: invert(1); 
}

.app-store-button, .google-play-button, .amazone-button{
    width: 150px;
}


.footer-google-play-button, 
.footer-app-store-button, .footer-amazone-button {
    width: 140px;
}

.app-store-button, .google-play-button, .amazone-button, .footer-google-play-button, 
.footer-app-store-button, .footer-amazone-button {
    display: flex;
    align-items: center;
    gap: 6px;
    height: 40px;
    padding: 15px;
    background-color: #ffffff;
    color: #000;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
}


.app-store-logo {
    background: url('assets/img/apple-icon.png') no-repeat center;

}

.google-play-logo {
    background: url('assets/img/google-play-icon.png') no-repeat center;
}

.amazone-logo {
    background: url('assets/img/amazon-icon.png') no-repeat center;
    
}

.app-store-logo, .google-play-logo, .amazone-logo {
    width: 26px;
    height: 30px;
    background-size: cover;
  
}

.app-store-text, .google-play-text, .amazone-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}


.app-store-text span, .google-play-text span, .amazone-text span {
    font-size: 8px;
    margin: 0;
}

.footer-google-play-button strong, .footer-amazone-button strong {
    font-size: 12px;
    font-weight: 700;

}


.app-store-text strong, .google-play-button strong,
.amazone-button strong {
    font-size: 14px;
    font-weight: 700;
}

.footer-amazone-button {
    display: none;
}

.more-games {
    width: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin-bottom: 80px;
}

.game-cards-wrapper {
    width: 100%;
}

.game-cards-wrapper {
    display: grid;
    gap: 5px; 
    grid-template-columns: 1fr;
}

.game-cards-wrapper .game-card:nth-of-type(3) {
    display: none;
}

.planting-wrapper{
    width: 90%;
    background-color: #01B7EC;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.planting{
    width: 100%;
    height: 394px;
    color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 10px 20px 10px;
    background: url(assets/img/planting-bg.png) no-repeat center;
    background-size: cover;  
    position: relative;
}

.planting::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
    z-index: 1;
}


.planting-headline {
    text-align:center;
    width: 80%;
    height: 70px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.planting-statistic{
    width: 100%;
    height: 70px;
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

.planting-headline-decorated-text {
    display: block;
    background: linear-gradient(90deg, #01FFF0 0%, #FEF332 100%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-weight: 900; 
}

.planting-statistic-number{
font-size: 48px;
font-weight: 600;
line-height: 1;

}

.planting-statistic-text {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-top: -4px; 
    
}

.planting-button {
    width: 145px;
    height: 48px;
    border-radius: 23.5px;
    border: 2px solid #fff;
    font-size: 16px;
    font-family: 'Maax', sans-serif;
    font-weight: 500;
    background-color: transparent;
    color: #fff;

}

.planting-pine {
    width: 370px;
    height: 468px;
    position: absolute;
    top: -74px;
    right: 15px;
    z-index: 3;
    display: none;
}

.more-games-headline{
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;
}

.game-card{
    width: 100%;
    height: 344px;
    color: #ffffff;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-top: 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
}



.game-card-headline{
    font-size: 26px;
    font-weight: 700;
}

.planting-headline-text, .planting-headline-decorated-text {
    font-size: 32px;
    font-weight: 600;
}

.break-line {
    display: block;
  }

.game-card[data-game-name="Urban City"] {
    background: 
    linear-gradient(180deg, rgba(86, 57, 255, 0) 54.69%, #5639FF 92.71%),
    url(assets/img/game-cover-1.jpg) no-repeat center;
    background-size: cover;  
}

.game-card[data-game-name="Urban City"] .game-card-headline{
    margin-bottom: 40px;
}

.game-card[data-game-name="Sunny School"] > .game-card-headline,
.game-card[data-game-name="Central Hospital"] > .game-card-headline {
    margin-bottom: 15px;
}


.game-card[data-game-name="Sunny School"] {
    background: 
    linear-gradient(180deg, rgba(1, 183, 236, 0) 54.69%, #01B7EC 92.71%),
    url(assets/img/game-cover-2.jpg) no-repeat center;
    background-size: cover;
    
}

.game-card[data-game-name="Central Hospital"] {
    background: 
    linear-gradient(180deg, rgba(1, 183, 236, 0) 54.69%, #01B7EC 92.71%),
    url(assets/img/game-cover-3.jpg) no-repeat center;
    background-size: cover;
    
}
.more-games-button{
    width: 140px;
    height: 48px;
    border-radius: 23.5px;
    border: 2px solid black;
    font-size: 16px;
    font-family: 'Maax', sans-serif;
    font-weight: 500;
    background-color: #000;
    color: #fff;
}


.footer-top {
    width: 100%;
    height: 170px;
    background-color: #000000;
    padding: 30px 13px 30px 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    margin-bottom: 30px;
    width: 250px;
}

.footer-store {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 100%;
}

.footer-bottom {
    width: 100%;
    height: 200px;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-section{
    display: none;

}

.footer-bottom-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 50px;

}

.footer-section h4 {
    color:  #717171;
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: 300;
}



.link-wrapper{
    width: fit-content;
}

.footer-section a, .footer-legal-text a{
    display: block; 
    margin: 10px 0;
    text-decoration: none;
    color:  #FFFFFF;
    background: linear-gradient(90deg, #01FFF0, #FEF332);
    background-clip: text;
    -webkit-background-clip: text;
    transition: background 0.3s ease, color 0.3s ease;
}

.burger-menu-section {
    margin-bottom: 20px;
}
.burger-menu-section h2 {
    font-size: 18px;
    color: #ccc;
    margin: 0;
    padding-bottom: 10px;
}
.burger-menu-section h1 {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 10px;
}
.burger-menu-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.burger-menu-section li {
    font-size: 16px;
    padding: 5px 0;
    color: #fff;
}
.burger-menu-section li::before {
    content: '—';
    color: #999;
    padding-right: 10px;
}
.burger-menu-section hr {
    border: 0;
    border-top: 1px solid #333;
    margin: 15px 0;
}

.icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url('assets/img/css_sprites.png'); 
    margin-right: 30px;
}

.icon:last-child {
    margin-right: 0;
}

.icon-inst{
    background-position: -20px -20px;
}
.icon-yt {
    background-position: -84px -20px;

}
.icon-lin{
    background-position: -148px -20px;

}
.icon-tw {
    background-position: -212px -20px;

} 


.footer-legal {
    width: 100%;
    height: 60px;
    background-color: #171717;
    border-top: 2px solid #424242;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-legal-year{
    color: #717171;
    font-size: 13px;
    font-weight: 500;
}

.footer-legal-text a {

    color: #fff;
    font-size: 13px;
    font-weight: 400;
}

.footer-legal-text .link-wrapper{
    display: inline-block;
}

@media (min-width: 400px) {
    
    .game-card{
        height: 480px;

    }


}


@media (min-width: 600px) {
    .store-buttons-container{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .game-card{
        height: 480px;

    }
    .store{
        height: 160px;

    }

    .game-card[data-game-name="Sunny School"] .game-card-headline{
        margin-bottom: 40px;
    }

    .menu-section {
        padding: 25px 90px;
    }

    .menu-content {
        padding: 25px 90px;
    }
    


}

@media (min-width: 700px) {
    .info-headline-first-line, .info-headline-second-line{
        font-size: 44px;
    }
    .more-games-headline{
        font-size: 32px;
    }
    .footer-logo {
        width: 310px;
    }
    .footer-amazone-button {
        display: inline-flex;
        
    }
    .game-cards-wrapper{
        width: 90%;
    
    }

    .store {
        width: 80%;
    }

    .home-bg-section-logo img {
        width: 239px;
        height: 185px;
        
    }

    .logo{
        width: 50px;
        height: 50px;
    }

    .game-cards-wrapper{
        display: flex;
        gap: 20px;

    }

    
    .planting-headline-text, .planting-headline-decorated-text{
       font-size: 38px;
    }
    
  }

  @media (min-width: 1000px) {

    .game-cards-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .home-bg-section  {
        background: 
        url(assets/img/home-bg.png);
        background-size: cover;
        background-position: center;}
    /* .info-headline-first-line, .info-headline-second-line{
        font-size: 44px;
    }
    .more-games-headline{
        font-size: 32px;
    }
    .footer-logo {
        width: 310px;
    }
    .footer-amazone-button {
        display: inline-flex;
        
    } */
     .content-character{
        width: 200px;
        height: 380px;
        display: inline-block;
        
        
         }

     .home-bg-section  {
        background: 
        url(assets/img/home-bg.png);
        background-size: cover;
        background-position: center;
        height: 600px;
    }

    .info-new-marker{
        display: flex;
       
    }

    .info-text-wrapper {
        text-align: left;    
        padding: 0; 
        background-color: aqua; 
        margin-bottom: 50px;
        margin-top: 30px;
        width: 85%;
    }
    
    .info{
        width: 100%;
        background-color: #5639FF;
        display: flex;
        margin-bottom: 50px;
        gap: 100px;
        align-items: start;
        padding-left: 60px;
    }

    .store{
        position: relative;
        left: -105px;
        width: 90%;
    }

    .info-wrapper{
        align-items: start;

    }

    .game-cards-wrapper{
        display: flex;
        gap: 40px;

    }
    .planting{
        flex-direction: row;
        align-items: start;
        padding: 50px 10px 20px 100px;   
        height: 500px;
    }

    .planting-pine{
        width: 470px;
        height: 574px;

    }

    .planting-headline{
        background-color: #FF4040;
        width: 80%;
        align-items: start;
        height: 100px;
    }

    .planting-headline-text, .planting-headline-decorated-text{
        font-size: 45px;

    }

    .planting-statistic{
        background-color: #FF4040;
        width: 80%;
        align-items: start;  
    }

    .planting-statistic-text {
        font-size: 14px;
        
    }

    .planting-pine {
        display: inline;
    }

    .planting-wrapper{
        align-items: start;
        width: 40%;
    }

    .game-cards-wrapper .game-card:nth-of-type(3) {
        display: flex;
    
    }

    .game-card[data-game-name="Central Hospital"] .game-card-headline{
        margin-bottom: 40px;
    }



    .game-cards-wrapper {
        gap: 20px;
        width: 100%;
        
    }

    .game-card{
        width: 60%;
    }

    .more-games{
        background-color: rgb(129, 228, 129);
        display: flex;
        padding: 0;
    }
    
  }

  @media (min-width: 1100px) {
    .regular-menu {
        display: block; /* Приховує звичайне меню */
    }

    .burger-menu {
        display: none; /* Показує бургер-меню */
    }

    .home-bg-section  {
        height: 690px;
    }

    .lang-locatizator {
        display: flex;
    }

    .menu-section {
        gap: 170px;
       
    }

    .content-character{
        width: 300px;
        height: 585px;
        
         }


         .info-text-wrapper {
            text-align: left;    
            padding: 0; 
            background-color: aqua; 
            width: 85%;
        }
        
        .info{
            width: 90%;
            background-color: #5639FF;
            display: flex;
            margin-bottom: 50px;
            align-items: end;
            justify-content: right;
            /* gap: 60px; */
        }

        .info-wrapper{
            width: 90%;
            align-items: start;
            background-color: #01B7EC;
        }

        .store {
            width: 100%;
            position: static;
        }

        .footer-section {
            display: block;
        }

        .footer-bottom-wrapper {
            justify-content: space-between;
        }

        .footer-top {
            display: flex;

            flex-direction: row;
            justify-content: space-between;
            padding: 0 60px;
            align-items: center;
            height: 150px;
        }

        .footer-logo {
            width: 300px;
            margin-bottom: 0px; 
            
        }

        .footer-store {
            background-color: #5639FF;
            width: 50%;
        }

        .home-bg-section-logo img {

            width: 340px;
            height: 267px;
            
        }

}

@media (min-width: 1200px) {
.store {
    width: 100%;
    height: 180px;
    background: #000000;
    color: #ffffff;
    border-radius: 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-family: 'Maax', sans-serif;
    margin-bottom: 30px;
    padding: 0 5px;
}

.content-character-icon {
    display: block;
}
}

@media (min-width: 1201px) {

    .home-bg-section {
    height: 670px;
    }
    
    .content {
        padding: 0 150px 80px 150px;
    }

    .footer-bottom-wrapper {
        padding: 20px 100px;
    }

    .planting-headline {
        width: 90%;
        align-items: start;
        height: 150px;
    }

    .planting-headline-text, .planting-headline-decorated-text {
        font-size: 55px;
    }

    .planting-statistic {
        background-color: #FF4040;
        width: 90%;
        align-items: start;  
    }

    .planting-statistic-text {
        font-size: 22px;
        
    }

    .planting-button {
        width: 154px;
        height: 44px;
        font-size: 18px;
        border-radius: 325px;
    
    }



}


