* {
    margin: 0;
    padding: 0;
}

.error-main-section-wrapper {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: linear-gradient(135deg, #f4b240, #9e9ef4, #a7f8a7, #f5a0f8);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}

.error-main-section-wrapper .headline{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.error-main-section-wrapper .sub-headline{
    font-size: 18px;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 60%; }
    60% { background-position: 100% 60%; }
    100% { background-position: 0% 40%; }
}

@media (min-width: 600px) {

    .error-main-section-wrapper .headline{
        font-size: 36px;
    }
}